<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Patrick Roy's Personal Site</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="main-content">
      {{ content }}
    </div>
  </body>
</html>