/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.home
  .theme-default-content
    display flex
    justify-content center
    align-items center
    flex-direction column
    height 180px

.list-demo-sns
  display inline-block